.avatar {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  margin-top: 2rem;
}

.button {
  font-weight: bold;
  background-color: #3690ed;
  color: white;
  border-radius: 20px;
  border: none;
  padding: 0.5rem 1.75rem;
  font-size: 0.75rem;
  cursor: pointer;
  margin-top: 2rem;
}

.buttonAlt {
  font-weight: bold;
  background-color: #033464;
  color: white;
  border-radius: 20px;
  border: none;
  padding: 0.5rem 1.75rem;
  font-size: 0.75rem;
  cursor: pointer;
  margin-top: 2rem;
  margin-left: 1rem;
}
