.form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.btn {
  background-color: #fefefe;
  color: #0a0a0a;
  font: inherit;
  border-radius: 25px;
  padding: 0.5rem 2rem;
  border: none;
  font-size: 0.75rem;
  font-weight: 900;
  width: 120%;
  cursor: pointer;
}

.error {
  background-color: rgb(211, 123, 141);
  color: rgb(247, 20, 65);
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 10px;
  width: 120%;
}
